@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: #111;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}